@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MedicalPro: Medical Imaging and Booking Services</h1>
    <p class="lead">
        We provides a comprehensive platform for seamless management of various medical services. This innovative application empowers healthcare professionals and end-users by offering a range of features.
    </p>
    <p><a href="~/Bookings/Index" class="btn btn-primary btn-lg"> Book Now &raquo;</a></p>
</div>

<div style="background: white url(../../../Utils/hospital.png) repeat fixed; width: 1100px; height: 300px;"></div>

<div class="row">
    <div class="col-md-4">
        <h2>About system</h2>
        <p>
            Our management system is a comprehensive management solution based on ASP.NET technology, aimed at optimizing and coordinating the daily operations of hospitals. The System integration integrates the information flow among various departments and provides an efficient way to deal with the registration, queuing, appointment, diagnosis, treatment, and settlement of patients.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">About system &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get contact</h2>
        <p>You can contact us at 86-2222-3333! Looking forward to your call!!</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Location &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medical service</h2>
        <p>
            We provide online booking services, saving you time while also improving efficiency.
        </p>
        <p><a class="btn btn-default" href="~/Bookings/Index">Booking Service &raquo;</a></p>
    </div>
</div>
